<div class="environment-container card">
    <div class="environment row">
        <div class="environment-info environment-name" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapse">
            <span>{{ environment.name }}</span>
        </div>
        <div class="environment-info">
            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" [id]="'environment-enabled-' + environment.id" [checked]="environment.enabled">
                <label class="custom-control-label" [for]="'environment-enabled-' + environment.id"></label>
            </div>
        </div>
    </div>
    <div class="users" [ngbCollapse]="isCollapsed" *ngIf="hasUsers()">
        {{ users() }}
    </div>
</div>