.feature-list {
  margin: 100px auto;
}

.add-feature {
  background: rgba(197, 206, 214, 0.7);
  border: none;
  width: 100%;
  height: 40px;
}

.add-feature:hover {
  background: rgba(171, 178, 189, 0.7);
}
