<div class="container feature-list">
  <div *ngFor="let feature of features">
    <app-feature
      [feature]="feature"
      [removeFeatureFromList]="removeFeature"
    ></app-feature>
  </div>

  <button
    *ngIf="!isFeatureFormVisible"
    class="btn btn-light add-feature"
    (click)="showFeatureForm()"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>

  <div *ngIf="isFeatureFormVisible">
    <app-feature-add-form
      [closeFeatureForm]="closeFeatureForm"
      [addFeature]="addFeature"
    ></app-feature-add-form>
  </div>
</div>
