.environment-form {
    padding: 15px;
}

.environment-header, .environment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.environment {
    align-items: flex-start;
}

.environment-enabled {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.environment-enabled label {
    margin: 0 10px 0 0;
}

.environment-users {
    padding-right: 10px;
    width: 100%;
}