<div class="feature-container card">
  <div class="feature row bg-light">
    <div class="feature-info feature-name" (click)="toggleEnvironments()">
      <span>{{ feature.name }}</span>
    </div>
    <div class="feature-info">
      <button class="btn feature-control" (click)="showAddEnvironmentForm()">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button class="btn feature-control" (click)="showEditForm()">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button class="btn feature-control" (click)="removeFeature()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          class="custom-control-input"
          [id]="'feature-enabled-' + feature.id"
          [checked]="enabled()"
          disabled
        />
        <label
          class="custom-control-label"
          [for]="'feature-enabled-' + feature.id"
        ></label>
      </div>
    </div>
  </div>
  <div>
    <app-feature-edit-form
      *ngIf="isEditFormVisible"
      [feature]="feature"
      [editFeature]="editFeature"
      [closeEditForm]="closeEditForm"
    >
    </app-feature-edit-form>
    <app-environment-add-form
      *ngIf="isAddEnvironmentFormVisible"
      [closeAddEnvironmentForm]="closeAddEnvironmentForm"
      [addEnvironment]="addEnvironment"
      [featureId]="feature.id"
    >
    </app-environment-add-form>

    <div *ngIf="isEnvironmentsVisible">
      <div
        class="feature-environments"
        *ngFor="let environment of feature.environments"
      >
        <app-environment
          *ngIf="!isFormsVisible()"
          [featureId]="feature.id"
          [environment]="environment"
          [removeEnvironmentFromList]="removeEnvironment"
        ></app-environment>
      </div>
    </div>
  </div>
</div>
