<div class="feature-container card" *ngIf="!isEditFormVisible">
  <div class="feature row bg-light">
    <div
      class="feature-info feature-name"
      (click)="isEnvironmentsVisible = !isEnvironmentsVisible"
      [attr.aria-expanded]="!isEnvironmentsVisible"
      aria-controls="collapse"
    >
      <span>{{ feature.name }}</span>
    </div>
    <div class="feature-info">
      <button class="btn feature-control">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button class="btn feature-control" (click)="showEditForm()">
        <fa-icon [icon]="faEdit"></fa-icon>
      </button>
      <button class="btn feature-control" (click)="removeFeature()">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
      <div class="custom-control custom-switch">
        <input
          type="checkbox"
          class="custom-control-input"
          [id]="'feature-enabled-' + feature.id"
          [checked]="enabled()"
          disabled
        />
        <label
          class="custom-control-label"
          [for]="'feature-enabled-' + feature.id"
        ></label>
      </div>
    </div>
  </div>
  <div>
    <app-environment-add-form></app-environment-add-form>
    <div
      class="feature-environments"
      *ngFor="let environment of feature.environments"
      [ngbCollapse]="isEnvironmentsVisible"
    >
      <app-environment
        [environment]="environment"
        [removeEnvironmentFromList]="removeEnvironment"
      ></app-environment>
    </div>
  </div>
</div>

<div class="feature-container card" *ngIf="isEditFormVisible">
  <app-feature-edit-form
    [feature]="feature"
    [editFeature]="editFeature"
    [closeEditForm]="closeEditForm"
  ></app-feature-edit-form>
</div>
